
fr-core-news-sm==2.3.0
-e git+https://github.com/luca-serra/illuin-fquad.git@7173dcb8c8527610a1e91451da4ac31284f88c6c#egg=illuin
numpy==1.19.4
pytest==6.1.2
pyzmq==20.0.0
regex==2020.11.13
scikit-learn==0.23.2
scipy==1.5.4
sklearn==0.0
spacy==2.3.2
